body, html {
  margin:0px;
  padding:0px;
  background-image: url(3.jpg)
}
#maket {
  width:100%;
  margin:0 auto;
}
#col1{
  width: 33%;
  float:left;
  margin-top: 70px;
  }
#col2{
  width: 34%;
  color: white;
  text-align: center;
  margin-top: 80px;
  margin-left: 450px;
}
#col3{
  width: 33%;
  float: right;
  margin-top:-600px;
  max-width: 19%;
  height: auto;
  color: white;
  text-align: right;
}
.header{
  margin-top: 200px;
  font-family: Arial, sans-serif;
}
.menu *{
  margin:0;
  padding:0;
}
.menu ul,
.menu ol{
  list-style: none;
}
.menu > ul{
  display: flex;
  justify-content: center;
}
.menu > ul li a{
  display: block;
  background: #eceded;
  padding: 15px 30px 15px 40px;
  font-size: 14px;
  color: #454547;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.menu > ul li{
  position: relative;
  border-right: 1px solid #babbbb;
}
.menu > ul li:first-child{
  border-left: 1px solid #babbbb;
}
.menu > ul li:last-child{
  border-right: 1px solid #babbbb;
}
.menu li a:hover{
  background: #454547;
  color:#ffffff;
  box-shadow: 1px 5px 10px -5px black;
  transition: all 0.3s ease;
}
.menu ul > ul li{
  position: absolute;
  min-width: 150px;
  display: none;
}    

.me li{
  border: 1px solid #c7c8ca;
}    
.me li a{
  padding: 10px;
  text-transform: none;
  background: #e4e4e5;
}
.me li:hover > ul{
  display: block;
}
@media print{   
  .col3, .col1, .menu{
    visibility: hidden;
    }
  .col2{
    visibility: visible;
    }